.button {
  border: none;
  &__default {
    background-color: #effaff;
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  }
  &__active {
    color: white;
    background: #494368;
  }
}
