.sort_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0.5rem;
  .drop_filters {
    display: none;
  }

  @media (max-width: 1344.98px) {
    .sort_products {
      align-self: flex-end;
    }
  }

  @media (max-width: 889.98px) {
    .drop_filters {
      display: block;
    }
    .filters {
      display: none;
    }
  }
}
