* {
  box-sizing: border-box;
}
.search_box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input_search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;
  transition: all 0.5s ease-in-out;
  background-color: var(--background-light);
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn_search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: var(--dark);
  background-color: transparent;
  pointer-events: painted;

  .icon {
    width: 20px;
    height: 20px;

    &:hover {
      color: var(--link);
    }
  }
}
.btn_search:focus ~ .input_search {
  color: var(--dark);
  width: 280px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(88, 88, 88, 0.5);
}
.input_search:focus {
  color: var(--dark);
  width: 280px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(88, 88, 88, 0.5);
}
