.wrapper {
  flex-grow: 1;
  display: flex;

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 20px;
  }
}

.products {
  flex-grow: 1;
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: var(--background-main);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
