.header {
  width: 100%;
  background-color: var(--background-light);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 20px;
  opacity: 0.8;
  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 1400px;
    font-size: 16px;

    ul {
      display: flex;
      align-items: center;
    }
    li {
      list-style-type: none;
      margin-right: 2rem;
      white-space: nowrap;
    }

    .logo {
      margin-right: 3rem;
    }

    .navbar {
      flex-grow: 1;
    }
  }

  @media (max-width: 1199.98px) {
    .header_content {
      margin: 0 10px;

      .logo {
        margin-right: 20px;
      }
      ul {
        margin-left: 0;
        padding-left: 0;
      }
      li {
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 991.98px) {
    .navbar {
      display: none;
    }
  }
}
