* {
  box-sizing: border-box;
}

.search_box {
  display: flex;
  width: fit-content;
  height: fit-content;

  .search_form {
    display: flex;
    flex-direction: column;
    justify-content: end;

    .form_content {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border: 1px solid var(--gray);
      border-radius: 5px;
      transition: var(--transition);
    }
    .close_icon {
      opacity: 0;
      transition: var(--transition);
    }
    .input_search {
      min-width: 100px;
      max-width: 150px;
      border-style: none;
      padding-left: 10px;
      font-size: 16px;
      letter-spacing: 2px;
      outline: none;
      background-color: var(--background-light);
    }
    &:hover {
      .close_icon {
        opacity: 1;
      }
      .form_content {
        border-color: var(--dark);
      }
    }
  }
}
