* {
  box-sizing: border-box;
}

.search_box {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;

  .search_form {
    .icon {
      position: absolute;
      top: 15px;
      left: 15px;
      width: 20px;
      height: 20px;
      color: var(--dark);
    }

    .input_search {
      height: 50px;
      min-width: 100px;
      max-width: 150px;
      border-style: none;
      font-size: 16px;
      letter-spacing: 2px;
      outline: none;
      background-color: var(--background-light);
      padding-left: 40px;
    }
  }
}
