.footer {
  width: 100%;
  background-color: var(--background-light);
  opacity: 0.8;

  .footer_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    font-size: 16px;
    margin: 0 auto;
    max-width: 1400px;
    li {
      list-style-type: none;
      margin-right: 2rem;
      white-space: nowrap;

      &:hover {
        color: var(--link);
        cursor: pointer;
        transition: var(--transition);
      }
    }
    .menu_links {
      display: flex;
      .links_group {
        margin-right: 4rem;
        &:nth-child(3) {
          ul {
            column-count: 2;
          }
        }
      }
    }

    .links_group {
      margin-right: 3rem;
      .submenu {
        margin: 0;
        padding: 0;
        display: block;
        li {
          text-align: left;
          margin-bottom: 0.5rem;
        }
      }
    }

    .title {
      border-bottom: 1px solid #737373;
      margin-bottom: 1rem;
      padding-bottom: 20px;
      color: var(--dark);
    }

    .menu_contacts {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 350px;
      height: 100%;
      .social {
        margin-top: 10px;
        ul {
          display: flex;
          justify-content: start;
          padding: 0;
        }
      }
      .subscription {
        margin-top: 10px;
      }
      .input_container {
        position: relative;
        max-width: 250px;

        .subscribe_input {
          width: 100%;
          max-width: 250px;
          padding: 8px 15px;
          border-radius: 10px;
          padding: 12px;
        }
        span {
          position: absolute;
          top: 0;
          right: 15px;
          padding: 15px 0;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .policy {
        font-size: 12px;
        max-width: 260px;
        a {
          color: var(--link);
        }
      }
      form {
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 5px;
      }
    }
  }

  @media (max-width: 1404.98px) {
    .footer_content {
      margin: 0 10px;
      .menu_links {
        .links_group {
          margin-right: 10px;
        }
      }
    }
  }
  @media (max-width: 1245.98px) {
    .links_group:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: 839.98px) {
    .links_group:nth-child(2) {
      display: none;
    }
  }
  @media (max-width: 603.98px) {
    .links_group:nth-child(1) {
      display: none;
    }
    .footer_content {
      justify-content: start;
    }
  }
}
