@import '../node_modules/normalize.css/normalize.css';

html,
body {
  min-height: 100%;
}



h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

body {
  background: var(--gradient);
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--dark);
  &:hover {
    color: var(--link);
  }
}

.ant-space-compact {
  width: 110px;
}
.ant-space:hover {
  color: var(--dark);
}

#icon {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--dark);
  &:hover {
    color: var(--link);
    transition: var(--transition);
  }
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
:root {
  --link: #00b1eb;
  --background-light: #e9f4fb;
  --background-main: #eff8fd;
  --dark: #2b303a;
  --gradient: linear-gradient(
    -60deg,
    rgb(0, 170, 244) 0%,
    rgba(0, 245, 154, 1) 100%
  );

  --transition: all 0.2s ease-in-out;
}
